<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title> Booking List</title>
  <link th:href="@{/css/style-starter.css}" rel="stylesheet"/>
  <!-- Google fonts -->
  <link th:href="@{//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap}" rel="stylesheet">

</head>
<body>
<!-- header -->
<header id="site-header" class="fixed-top">
  <section class="w3l-header-4">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">

        <h1><a class="navbar-brand" th:href="@{/}" ><span> <img th:src="@{/images/logo.ico}" ></span>
          Car Servicing</span>
        </a></h1>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa icon-expand fa-bars"></span>
          <span class="fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}">Home </a>
            </li>
            <li class="nav-item @@about__active">
              <a class="nav-link" th:href="@{/aboutview}">About</a>
            </li>
            <li class="nav-item @@services__active">
              <a class="nav-link" th:href="@{/servicesview}">Our Services</a>
            </li>
            <li class="nav-item @@services__active">
              <a class="nav-link"th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item @@services__active">
              <a class="nav-link"th:href="@{/register}">SignUp</a>
            </li>
            <li class="nav-item @@services__active">
              <a class="nav-link"th:href="@{/booksregister}">Service Register</a>
            </li>
            <li class="nav-item @@services__active">
              <a class="nav-link"th:href="@{/stafflogin}">Staff Login</a>
            </li>
            <li class="nav-item ml-3">
              <a th:href="@{/contactview}" class="btn btn-outline-primary btn-style mr-2">Contact Us</a>
            </li>
          </ul>

          <!-- //toggle switch for light and dark theme -->
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
      </nav>
    </div>
  </section>
</header>
<!-- //header -->

<br><br><br><br><br><br>
<div align="center">

  <h1>Booking List </h1>
  <br> <br>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark" >
    <tr>
      <th>User ID</th>
      <th>E-mail</th>
      <th>Vehicle Number</th>
      <th>Vehicle Type</th>
      <th>Service Type</th>
      <th>Date</th>
      <th>Time</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${listBooks}">
      <td th:text="${book.id}">User ID</td>
      <td th:text="${book.email}">E-mail</td>
      <td th:text="${book.vehicleno}">Vehicle Number</td>
      <td th:text="${book.vehicletype}">Vehicle Type</td>
      <td th:text="${book.servicetype}">Service Type</td>
      <td th:text="${book.date}">Day</td>
      <td th:text="${book.time}">Time</td>
      <td><a th:href="@{'/bookview/delete/'+ ${book.id}}">Delete</a></td>
    </tr>

    </tbody>
  </table>
</div>

<br><br><br><br>


<!-- footer -->
<section class="w3l-footer-29-main" id="footer">
  <div class="footer-29 py-5">
    <div class="container pb-lg-3">
      <div class="row footer-top-29">
        <div class="col-lg-4 col-md-6 footer-list-29 footer-1 mt-md-4">
          <h6 class="footer-title-29">Contact Us</h6>
          <ul>
            <li>
              <p><span class="fa fa-map-marker"></span> Car Servicing, 208 Trainer Avenue street,
                Corner Market, Sri Lanka - 62617</p>
            </li>
            <li><a href="tel:+1(12) 366 411 4999"><span class="fa fa-phone"></span> 011 366 4999</a></li>
            <li><a href="mailto:example@mail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
              example@mail.com</a></li>
          </ul>
          <div class="main-social-footer-29">
            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
            <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6 footer-list-29 footer-2 mt-4">
          <ul>
            <h6 class="footer-title-29">Explore More</h6>
            <li><a href="#url">Tires & Alignments</a></li>
            <li><a href="#url">Engine diagnostics</a></li>
            <li><a href="#url">Dyno tuning</a></li>
            <li><a href="#url">General car service</a></li>
            <li><a href="#url">Cleaning & polishing</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-6 footer-list-29 footer-4 mt-4">
          <ul>
            <h6 class="footer-title-29">Quick Links</h6>


            <li><a th:href="@{/}">Home </a></li>
            <li>
              <a th:href="@{/aboutview}">About</a>
            </li>
            <li >
              <a th:href="@{/servicesview}">Our Services</a>
            </li>
            <li>
              <a th:href="@{/login}">Login</a>
            </li>
            <li>
              <a th:href="@{/register}">SignUp</a>
            </li>
            <li>
              <a th:href="@{/booksregister}">Service Register</a>
            </li>
            <li>
              <a th:href="@{/stafflogin}">Staff Login</a>
            </li>
            <li>
              <a th:href="@{/contactview}">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-list-29 footer-3 mt-4">
          <div class="properties">
            <h6 class="footer-title-29">Recent Posts</h6>
            <a class="d-grid twitter-feed" href="blog-single.html">
              <p>We are focused on providing our clients with the highest
                level of quality and excellent customer support.</p>
            </a>
            <a class="d-grid twitter-feed" href="blog-single.html">
              <p>See our gallery of our auto body repair work.</p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- move top -->
  <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
    <span class="fa fa-level-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>
<!-- // footer -->


<script th:src="@{/js/jquery-3.3.1.min.js}"></script> <!-- Common jquery plugin -->

<script th:src="@{/js/theme-change.js}"></script><!-- theme switch js (light and dark)-->

<!-- magnific popup -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
<!-- magnific popup -->

<script src="@{/js/owl.carousel.js}"></script>
<!-- script for tesimonials carousel slider -->
<script>
  $(document).ready(function () {
    $("#owl-demo1").owlCarousel({
      loop: true,
      margin: 20,
      nav: false,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        736: {
          items: 1,
          nav: false
        },
        1000: {
          items: 2,
          nav: false,
          loop: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials carousel slider -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- //bootstrap-->
</body>
</html>